body {
  width: 65%;
  margin: auto;
  background-image: linear-gradient(to right,rgb(15,15,15), rgb(55,55,55));
  color: rgb(15, 15, 15);
}
h1, h2 {
  text-align: center;
}
h1 {
  color: aliceblue;
}
section {
  margin: .5rem 0;
  padding: 1rem;
  background-color: aliceblue;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.images {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.images img {
  opacity: 50%;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.images img:hover {
  opacity: 100%;
}
.opimage {
  height: 5em;
}
section.scoreboard {
  display: grid;
  text-align: center;
  border-radius: 0 0 3rem 3rem;
}

#result {
  padding-bottom: 1rem;
  grid-column-start: 1;
  grid-column-end: 3;
}
.score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.pchoice, .ochoice {
  height: 13rem;
}
.pchoice{
  border-radius: 3rem 0 0 0;
}
.ochoice{
  border-radius: 0 3rem 0 0;
}
#pscore, #oscore {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: .25rem;
}
p.label {
  line-height: 1;
  margin-top: 0;
}

.space{
  padding-top: 2rem;
}
#reset {
  border-radius: 1em;
  background-color: rgb(18, 18, 18);
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .35em;
  padding-bottom: .35em;
  font-family: "Roboto", sans-serif;
  color: rgb(236, 236, 236);
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  transition: transform .1s ease 0s;
}
#reset:hover {
 background-color: rgb(18, 18, 18);
 transform: scale(1.1);
 transition: transform .1s ease 0s;
}

#reset:active {
  transform: scale(.9);
}
@media screen and (max-width: 768px)  {
  main {grid-template-columns: 1fr;}
  main img {transform: scale(.9);}
  .pchoice {border-radius: 3rem;}
  .ochoice {border-radius: 3rem;}
  section.scoreboard {border-radius: 3rem;}
}
